body {
  margin-top: 1.0em;
  background-color: #FFFFFF;
  font-family: helvetica;
  color: #000000;
}
#container {
  margin: 0 auto;
  width: 960px;
}
.breadcrumb {
  float: left;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.7em;
}

.logo {
  float: left;
}

h1 { font-size: 3.8em; color: #125FAB; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #5F8A12; }
h3 { font-weight: bolder; color: #5F8A12; }
a { color: #5F8A12; }
.description { font-size: 1.0em; margin-bottom: 30px; margin-top: 30px; }
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }