html * {
    margin: 0;    
    background:#003042;
    
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

body{
	background: #00384C url(bg_html.png) no-repeat 0% 0%;
	color: #A9C9D5;
	font-family: 'lucida grande', 'lucida sans unicode', 'lucida sans', arial, sans-serif;
	font-size: 12px;
	min-width: 990px;
	text-align: left;
}

div#body {
	width: 100%;
	background: none;
}

.alt, .hidden, .h-alt { position:absolute;left:-9999px; }


/*div#body-inner {
	background: #AAA url(diagonal_stripe.png) repeat 50% 50%;
	opacity:0.5;
	border: solid 1px grey;
}*/

/* Specific */
img.asset-image {
	border: none;
	width: 100%;		
}

div#header {
	background: #003245 url(bg_header.png) no-repeat 50% 100%;	
	height: 80px;
	margin-bottom: 40px;
}

div.container {
	margin: 0px auto;
	text-align: left;
	width: 940px;
}

/* @group Wrap: Header */
div#header { background:#003245 url(bg_header.png) no-repeat center bottom;border-bottom:1px solid #114a61;margin-bottom:20px;height:80px; }
div#header #logo { display:block;text-indent:-9999px;background:transparent url(logo_web.png) no-repeat left center;width:120px;height:80px;float:left;margin-right:120px;outline:none; }
div#header #nav { float:left;font-size:12px; background: none;}
div#header #nav li { display:block;float:left; font:bold 12px "lucida grande", "lucida sans unicode", "lucida sans", arial, sans-serif; background: none;}
div#header #nav li.current { background:#023d53 url(bg_nav_on.png) no-repeat left bottom;color:#fff; }
div#header #nav li.current a {color:#fff;text-shadow: #001d2b 0px 1px 2px}
div#header #nav li.current span { display:block;background:transparent url(bg_nav_on.png) no-repeat right bottom;margin-left:2px; }
div#header #nav li a { display:block;height:80px;line-height:110px;padding:0 14px;outline:none;background: none;}
div#header #nav li.current a, div#header #nav li.current a:hover { background:transparent url(hover_nav_green.png) no-repeat center bottom;padding:0 14px 0 12px; }
div#header #nav li a:hover { background:transparent url(hover_nav.png) no-repeat center bottom;color:#fff; }
/* @end */


div.clear-row {
	clear:both;
	border:solid 3px blue;
}

div.asset-image {
	/**/
	padding: 2px !important;
	background-color: white;
	padding-bottom: 2px !important;
}

div.asset {
	float: left;
	border:solid 3px white;	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;	
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

div.asset-data {
	display:none;
}


/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

#grailsLogo {
	padding:20px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    margin-top: 0px;
    padding: 7px 12px;
    background: none;
    float: left;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
    background: none;
}
.menuButton a {
    color: #A9C9D5;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #A9C9D5;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #A9C9D5;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #A9C9D5;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
	background: none;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
    float: right;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 5px 1 5;
    margin: 0 3px;
    
    background: none;
    color: #FFFFFF;    
     background: #343434;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
